In [1]:
# Dependencies and Setup
import pandas as pd

# Files to Load 
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

# print dataset
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
school_data_complete.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [3]:
# Total number of schools
total_schools = len(school_data_complete["school_name"].unique())

# Total number of students
total_students = len(school_data_complete["Student ID"].unique())

# Total budget- find sum of unique budget per school 
budgets = school_data_complete["budget"].unique()
total_budget = budgets.sum()

# average math score
math_average = school_data_complete["math_score"].mean()

# # average reading score
reading_average = school_data_complete["reading_score"].mean()


# Calculate the overall average score
overall_average_score = (math_average + reading_average)/2

# Calculate the percentage of students with a passing math score (70 or greater)
total_passing_math = len(school_data_complete.loc[school_data_complete["math_score"]>70, :])
percent_pass_math = (total_passing_math/total_students)*100


# Calculate the percentage of students with a passing reading score (70 or greater)
total_passing_reading = len(school_data_complete.loc[school_data_complete["reading_score"]>70, :])
percent_pass_reading = (total_passing_reading/total_students)*100

# Overall pass rate
overall_pass_rate = ((percent_pass_math + percent_pass_reading)/2)

# Create a dataframe to hold the above results
district_summary = pd.DataFrame({"Total Schools": [total_schools],"Total Students": [total_students],
                                 "Total Budget": [total_budget],"Avg Math Score": [math_average], 
                                 "Avg Reading Score": [reading_average], "Overall Avg Score": [overall_average_score],
                                 "% Passing Math":[percent_pass_math], "% Passing Reading":[percent_pass_reading],
                                 "Overall Passing Rate":[overall_pass_rate]})
district_summary

,Total Schools,Total Students,Total Budget,Avg Math Score,Avg Reading Score,Overall Avg Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,80.431606,72.392137,82.971662,77.681899

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [4]:
grouped_school_data = school_data_complete.groupby(['school_name', "type"])
grouped_school_data.count()

,,Student ID,student_name,gender,grade,reading_score,math_score,School ID,size,budget
school_name,type,,,,,,,,,
Bailey High School,District,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,Charter,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,District,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,District,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,Charter,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,District,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,Charter,427,427,427,427,427,427,427,427,427
Huang High School,District,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,District,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,Charter,962,962,962,962,962,962,962,962,962
Rodriguez High School,District,3999,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,Charter,1761,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,Charter,1635,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,Charter,2283,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,Charter,1800,1800,1800,1800,1800,1800,1800,1800,1800

In [23]:


# Total Students
total_students_per = grouped_school_data["size"].count().to_frame(name = 'Total Students').reset_index()

# Total School Budget
total_budget_per = school_data_complete["budget"].unique()
total_students_per["Total Budget"]= total_budget_per



# # Per Student Budget
# per_student_budget = (total_budget_per/total_students_per)
# # total_students_per["Per Student Budget"]= per_student_budget 


# average math score
math_average_per = grouped_school_data["math_score"].mean().to_frame(name = 'Average Math Score').reset_index()


# average reading score
reading_average_per = grouped_school_data["reading_score"].mean().to_frame(name = 'Average Reading Score').reset_index()


# % passing math
pass_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['Student ID'].count()/(total_students_per*100)


# % passing reading
pass_reading = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/total_students_per*100
# # total_students_per["Percent Passing Reading"]= pass_reading

# overall passing
overall_pass= ((pass_math+pass_reading)/2).to_frame(name = 'Overall Passing Rate').reset_index()
# total_students_per["Overall Passing Rate"]= overall_pass
overall_pass

# school_summary = pd.dataframe({"Total Students":["total_students_per"],
# "Total School Budget":["total_budget_per"]})
                               
# #                                ,"Per Student Budget":["per_student_budget"],
# # "Average Math Score":["math_average_per"],"Average Reading Score":["reading_average_per"], 
# # "Percent Passing Math": ["pass_math"], "% Passing Reading":["pass_reading"],
# # "Overall Passing Rate":["overall_pass"]})
# school_summary
# school_summary = organized_schools.loc[:,
# school_summary
# # Use Map to format all the columns
# file_df["avg_cost"] = file_df["avg_cost"].map("${:.2f}".format)
# file_df["population"] = file_df["population"].map("{:,}".format)
# file_df["other"] = file_df["other"].map("{:.2f}".format)
# file_df.head()

TypeError: ufunc 'true_divide' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [ ]:
# Sorting the DataFrame based on "overall passing rate" column
# Will sort from lowest to highest if no other parameter is passed
top_passing_rate = organized_schools.sort_values("% Overall Passing Rate", ascending=False)
top_passing_rate.head()

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [ ]:
bottom_passing_rate = organized_schools.sort_values("% Overall Passing Rate")
bottom_passing_rate.head()

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
grade_nine = school_data_complete[school_data_complete["grade"] == "9th"].groupby("school_name").mean()["math_score"]
grade_ten = school_data_complete[school_data_complete["grade"] == "10th"].groupby("school_name").mean()["math_score"]
grade_eleven = school_data_complete[school_data_complete["grade"] == "11th"].groupby("school_name").mean()["math_score"]
grade_twelve = school_data_complete[school_data_complete["grade"] == "12th"].groupby("school_name").mean()["math_score"]

math_scores_df = pd.DataFrame({"9th":grade_nine, "10th":grade_ten, "11th":grade_eleven, "12th":grade_twelve})  
math_scores_df

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [ ]:
grade_nine = school_data_complete[school_data_complete["grade"] == "9th"].groupby("school_name").mean()["reading_score"]
grade_ten = school_data_complete[school_data_complete["grade"] == "10th"].groupby("school_name").mean()["reading_score"]
grade_eleven = school_data_complete[school_data_complete["grade"] == "11th"].groupby("school_name").mean()["reading_score"]
grade_twelve = school_data_complete[school_data_complete["grade"] == "12th"].groupby("school_name").mean()["reading_score"]

reading_scores_df = pd.DataFrame({"9th":grade_nine, "10th":grade_ten, "11th":grade_eleven, "12th":grade_twelve})  
reading_scores_df

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

organized_schools["Spending Ranges Per Student"] = pd.cut(organized_schools["Per Student Budget"], spending_bins, labels=group_names)
scores_by_school_spending=organized_schools[["math_score", "reading_score", "% Passing Math", "% Passing Reading", "% Overall Passing Rate", "Spending Ranges Per Student"]]
scores_by_school_spending = scores_by_school_spending.groupby("Spending Ranges Per Student")
scores_by_school_spending.max()


# scores_by_school_spending=organized_schools[["reading_score", "math_score","% Passing Math", "% Passing Reading", "% Overall Passing Rate"]]
# scores_by_school_spending

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:

organized_schools["School Size"] = pd.cut(organized_schools["size"], size_bins, labels=group_names)
scores_by_school_size=organized_schools[["math_score", "reading_score", "% Passing Math", "% Passing Reading", "% Overall Passing Rate", "School Size"]]
scores_by_school_size = scores_by_school_size.groupby("School Size")
scores_by_school_size.max()

## Scores by School Type

* Perform the same operations as above, based on school type.

In [ ]:
scores_by_school_type = organized_schools.groupby("type")
organized_type=scores_by_school_type[["math_score", "reading_score", "% Passing Math", "% Passing Reading", "% Overall Passing Rate", "School Size"]]
organized_type.mean()